<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="./resources/css/signup.css">
<link rel="stylesheet" href="./resources/css/bootstrap.min.css">
<script src="./resources/js/angular.min.js"></script>
<script src="./resources/js/jquery.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./app.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body style="background-image: url('resources/images/bg.jpg');">


<div data-ng-app="myApp">
<div data-ng-controller="NavbarCtrl as nData">  
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" data-ui-sref="homeState" tabindex="-1">Discuss</a>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
		<li><a data-ng-hide="nData.authUser.authenticated" data-ng-click="nData.openRegisterModal()" class="clickable" tabindex="-1">Register</a></li>
		<li><a data-ng-hide="nData.authUser.authenticated" data-ng-click="nData.openLoginModal()" class="clickable" tabindex="-1">Login</a></li>
        <li data-ng-show="nData.authUser.authenticated" data-ng-click="nData.openUserModal()"><p id="userProfileBtn" class="navbar-text clickable">{{nData.authUser.name}}</p></li>
        <li><a data-ui-sref="logoutState" data-ng-show="nData.authUser.name" tabindex="-1">Logout</a></li>
    </ul>
  </div>
    
</nav>
</div>
<data-scroll-to-top></data-scroll-to-top>

<!--   Placeholder for templates -->
  <div data-ui-view></div>
 <div class="container"  style="float: left;" data-ng-controller="RegiCtrl as rData">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Sign up</h1>
           <div class="divider"></div>
         </div>
         <br/>
           <form class="form-register" method="post" name="register" data-ng-submit="rData.register()" novalidate>
	            <div class="input-field col s6">
              <input id="first-name" type="text" name="txtFirstName" data-ng-model="rData.newUser.name" class="validate" data-ng-required>
              <label for="first-name">First Name</label>
            </div> <br/>
            <!-- <div class="input-field col s6">
              <input id="last-name" type="text" name="txtLastName" data-ng-model="rData.newUser.lastName" class="validate" data-ng-required>
              <label for="last-name">Last Name</label>
             </div> <br/> -->
             <div class="input-field col s6">
              <input id="email" type="email" name="remail" data-ng-model="rData.newUser.mail" class="validate" data-ng-required>
              <label for="email">Email</label>
             </div> <br/>
             <span class="alert alert-danger" data-ng-show="form-register.rData.newUser.mail.$error.email">Your email is invalid.</span>
             <div class="input-field col s6">
               <input id="password" type="password" name="rpassword" data-ng-model="rData.newUser.password" data-ng-minlength='6' class="validate" data-ng-required>
               <label for="password">Password</label>
              </div> <br/>
              <p class="alert alert-danger" data-ng-show="form-register.rData.newUser.password.$error.minlength && form.password.$invalid">Your password must be at least 6 characters.</p>
              <div class="space-top text-center">
               <button data-ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left">done</i> Done
               </button>
               <button type="button" class="waves-effect waves-light btn cancel">
               <i class="material-icons left">clear</i>Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>
   
 <div class="container" style="float:right;" data-ng-controller="LoginCtrl"	>
   <div id="signin">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Sign in</h1>
           <div class="divider"></div>
         </div>
           <form class="form-login" method="post" name="login" novalidate>
	            
             <div class="input-field col s6">
              <input id="email" type="email" name="lemail" data-ng-model="lemail" class="validate" required>
              <label for="email">Email</label>
             </div>
             <p class="alert alert-danger" data-ng-show="form-login.lemail.$error.email">Your email is invalid.</p>
             <div class="input-field col s6">
               <input id="password" type="password" name="lpassword" data-ng-model="lpassword" data-ng-minlength='6' class="validate" required>
               <label for="password">Password</label>
              </div>
              <p class="alert alert-danger" data-ng-show="form-login.lpassword.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
              <div class="space-top text-center">
               <button data-ng-disabled="form-login.$invalid" class="waves-effect waves-light btn done">
               <i class="material-icons left">done</i> Done
               </button>
               <button type="button" class="waves-effect waves-light btn cancel">
               <i class="material-icons left">clear</i>Cancel
               </button>
              </div>
             </form>
           </div>
        </div>
    </div>
    </div>
<script src="./c_user/UserService.js"></script>
</body>
</html>